<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ControleCarrinho</servlet-name>
        <servlet-class>controle.ControleCarrinho</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleProduto</servlet-name>
        <servlet-class>controle.ControleProduto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAcesso</servlet-name>
        <servlet-class>controle.ControleUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadFile</servlet-name>
        <servlet-class>controle.UploadFile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TesteServlet</servlet-name>
        <servlet-class>controle.TesteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarUpload</servlet-name>
        <servlet-class>controle.CriarUpload</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarUploadPfc</servlet-name>
        <servlet-class>controle.CriarUploadPfc</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CriarUploadPdf</servlet-name>
        <servlet-class>controle.CriarUploadPdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleRelatorios</servlet-name>
        <servlet-class>controle.ControleRelatorios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleRelatorioVenda</servlet-name>
        <servlet-class>controle.ControleRelatorioVenda</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleTarefa</servlet-name>
        <servlet-class>controle.ControleTarefa</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ControlePedido</servlet-name>
        <servlet-class>controle.ControlePedido</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControleAvaliacao</servlet-name>
        <servlet-class>controle.ControleAvaliacao</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ControleCarrinho</servlet-name>
        <url-pattern>/ControleCarrinho</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleProduto</servlet-name>
        <url-pattern>/ControleProduto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAcesso</servlet-name>
        <url-pattern>/ControleAcesso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadFile</servlet-name>
        <url-pattern>/UploadFile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TesteServlet</servlet-name>
        <url-pattern>/TesteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarUpload</servlet-name>
        <url-pattern>/CriarUpload</url-pattern>
    </servlet-mapping>
    <filter>
        <filter-name>AcessoLogado</filter-name>
        <filter-class>filtros.AcessoLogado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoLogado</filter-name>
        <url-pattern>/CompraRealizadaComSucesso.jsp</url-pattern>
        <url-pattern>/EstanteVirtual.jsp</url-pattern> 
        <url-pattern>/LeituraDoLivro.jsp</url-pattern> 
        <url-pattern>/MeusPedidos.jsp</url-pattern> 
        <url-pattern>/alterarSenha.jsp</url-pattern> 
        <url-pattern>/atualizarCliente.jsp</url-pattern> 
        <url-pattern>/comentario.jsp</url-pattern> 
        <url-pattern>/excluirDadosCliente.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>AcessoAutorizado</filter-name>
        <filter-class>filtros.AcessoAutorizado</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AcessoAutorizado</filter-name>        
        <url-pattern>/admin/relatorio.jsp</url-pattern>        
        <url-pattern>/AdmAtualizarLivro.jsp</url-pattern>
        <url-pattern>/AdmCadastrarLivro.jsp</url-pattern>
        <url-pattern>/AdmConfirmarCadastroDeLivro.jsp</url-pattern>
        <url-pattern>/AdmGerenciarLivros.jsp</url-pattern>
        <url-pattern>/AdmInativarLivro.jsp</url-pattern>
        <url-pattern>/AdmInserirImagem.jsp</url-pattern>
        <url-pattern>/AdmInserirPdf.jsp</url-pattern>
        <url-pattern>/AdmRelatorios.jsp</url-pattern>
        <url-pattern>/AdmResultadoPesquisaIsbn.jsp</url-pattern>
        <url-pattern>/AdmTelaPrincipal.jsp</url-pattern>       
    </filter-mapping>
    <servlet-mapping>
        <servlet-name>CriarUploadPfc</servlet-name>
        <url-pattern>/CriarUploadPfc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CriarUploadPdf</servlet-name>
        <url-pattern>/CriarUploadPdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleRelatorios</servlet-name>
        <url-pattern>/ControleRelatorios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleRelatorioVenda</servlet-name>
        <url-pattern>/ControleRelatorioVenda</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleTarefa</servlet-name>
        <url-pattern>/ControleTarefa</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControlePedido</servlet-name>
        <url-pattern>/ControlePedido</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControleAvaliacao</servlet-name>
        <url-pattern>/ControleAvaliacao</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
